<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mundo Dos Pets</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="img\faficon.png"" type="logo">
</head>
<body>
    <header>
        <h1>Mundo Dos Pets</h1>
        <nav>
            <ul>
                <li><a href="inicio.html">Início</a></li>
                <li><a href="produto.html">Produtos</a></li>
                <li><a href="contato.html">Contato</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Mundo<span style="font-size: 43px; position: relative; top: -10px;">ᴰᵒˢ</span>Pets</h2>
        <p>Produtos de qualidade para seu melhor amigo!</p>
        <a href="produto.html" class="btn">Ver Produtos</a>
        <img src="img\pets.png" alt="pets">
    </main>
    <footer>
        <p>© 2025 Mundo Dos Pets - Todos os direitos reservados.</p>
    </footer>
</body>
</html>