<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mundo Dos Pets</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="img\faficon.png"" type="logo">
</head>
<body>
    <header>
        <h1>Mundo Dos Pets</h1>
        <nav>
            <ul>
                <li><a href="inicio.html">Início</a></li>
                <li><a href="produto.html">Produtos</a></li>
                <li><a href="contato.html">Contato</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2 class="titulo-produto">O Melhor Para Seu Pet</h2>

        <div class="container">
            <div class="Produto">
                <img src="img\coelhorosa.png" alt="Brinquedo de Pelúcia">
                <h3>Brinquedo de Pelúcia</h3>
                <p class="preco">R$39,99</p>
                <a href="comprar.html"><button>Comprar</button></a>
            </div>
            <div class="Produto">
                <img src="img\flamingo.png" alt="Brinquedo de Pelúcia">
                <h3>Brinquedo de Pelúcia</h3>
                <p class="preco">R$89,90</p>
                <a href="comprar.html"><button>Comprar</button></a>
            </div>
            <div class="Produto">
                <img src="img\rosquinha.png" alt="Brinquedo de Pelúcia">
                <h3>Brinquedo de Pelúcia</h3>
                <p class="preco">R$49,90</p>
                <a href="comprar.html"><button>Comprar</button></a>
            </div>
            <div class="Produto">
                <img src="img\frango.png" alt="Brinquedo de Pelúcia">
                <h3>Brinquedo de Pelúcia</h3>
                <p class="preco">R$39,99</p>
                <a href="comprar.html"><button>Comprar</button></a>
            </div>
            <div class="Produto">
                <img src="img\bolinha.png" alt="Brinquedo de Pelúcia">
                <h3>Brinquedo de Pelúcia</h3>
                <p class="preco">R$29,00</p>
                <a href="comprar.html"><button>Comprar</button></a>
            </div>
            <div class="Produto">
                <img src="img\corda.png" alt="Brinquedo de Pelúcia">
                <h3>Brinquedo de Pelúcia</h3>
                <p class="preco">R$59,00</p>
                <a href="comprar.html"><button>Comprar</button></a>
            </div>
            <div class="Produto">
                <img src="img\elefante.png" alt="Brinquedo de Pelúcia">
                <h3>Brinquedo de Pelúcia</h3>
                <p class="preco">R$49,00</p>
                <a href="comprar.html"><button>Comprar</button></a>
            </div>
            <div class="Produto">
                <img src="img\bolinha2.png" alt="Brinquedo de Pelúcia">
                <h3>Brinquedo de Pelúcia</h3>
                <p class="preco">R$39,99</p>
                <a href="comprar.html"><button>Comprar</button></a>
            </div>
            <div class="Produto">
                <img src="img\brinquedogato.png" alt="Brinquedo de Pelúcia">
                <h3>Brinquedo de Pelúcia</h3>
                <p class="preco">R$35,50</p>
                <a href="comprar.html"><button>Comprar</button></a>
            </div>
            <div class="Produto">
                <img src="img\caminha.png" alt="Brinquedo de Pelúcia">
                <h3>Brinquedo de Pelúcia</h3>
                <p class="preco">R$159,00</p>
                <a href="comprar.html"><button>Comprar</button></a>
            </div>
            <div class="Produto">
                <img src="img\caminha2.png" alt="Brinquedo de Pelúcia">
                <h3>Brinquedo de Pelúcia</h3>
                <p class="preco">R$145,99</p>
                <a href="comprar.html"><button>Comprar</button></a>
            </div>
            <div class="Produto">
                <img src="img\caminha3.png" alt="Brinquedo de Pelúcia">
                <h3>Brinquedo de Pelúcia</h3>
                <p class="preco">R$139,99</p>
                <a href="comprar.html"><button>Comprar</button></a>
            </div>
        </div>        

    </main>
    <footer>
        <p>© 2025 Mundo Dos Pets - Todos os direitos reservados.</p>
    </footer>
</body>
</html>